#parse("/velocity/layout.vm")
#@mainLayout()
<div class="page-header">
    <h2>Issues</h2>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Summary</th>
                <th>Author</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            #foreach($issue in $issues)
                <tr onclick="document.location=;$issue.getId()">
                    <td>$issue.getSummary()</td>
                    <td>$issue.getAuthor()</td>
                    <td>$issue.getStatus()</td>
                </tr>
            #end
        </tbody>
    </table>
</div>
#end
