#parse("/velocity/layout.vm")
#@mainLayout()
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Issues</h2>
    </div>
    <div class="table-responsive panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Summary</th>
                    <th>Author</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                #foreach($issue in $issues)
                    <tr onclick="document.location='$issue.getId()'"
                        #if($issue.getStatus() == $status.getClosed())
                        class="warning"
                        #elseif($issue.getStatus() == $status.getResolved())
                        class="success"
                        #end
                    >
                        <td><p>$issue.getSummary()</p></td>
                        <td><p>$issue.getAuthor()</p></td>
                        <td><p>$status.getName($issue.getStatus())</p></td>
                    </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
#end
