#parse("/velocity/layout.vm")
#@mainLayout()
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Edit issue</h2>
    </div>
    <div class="panel-body">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Summary</label>
                <input type="text" class="form-control" name="summary" value="$escaper.escape($issue.getSummary())"
                       placeholder="Summary"
                       required>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea name="description" rows="4"
                          class="form-control">$escaper.escape($issue.getDescription())</textarea>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
#end
