#parse("/velocity/layout.vm")
#@mainLayout()
<h1>New issue</h1>
<form method="post">
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" class="form-control" id="summary" name="summary" placeholder="Summary" required>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author" placeholder="Author" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
    <a href="$redirect" type="cancel" class="btn btn-default">Cancel</a>
</form>
#end
