#* @implicitly included *#
#* @vtlvariable name="issue" type="com.axmor.issue.Issue" *#
#* @vtlvariable name="WebPath" type="com.axmor.util.Path.Web" *#
#* @vtlvariable name="redirect" type="java.lang.String" *#
#* @vtlvariable name="issues" type="java.lang.Iterable<com.axmor.issue.Issue>" *#
