#macro(mainLayout)
<!DOCTYPE html>
<html>
    <head>
        <title>Issue Tracker</title>
        <link rel='stylesheet' type="text/css" href='/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="$web.getIssues()">Issue Tracker</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="$web.getIssuesNew()">New issue</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        #if($currentUsername)
                            <li><a><strong>$currentUsername</strong></a></li>
                            <li>
                                <form method="post" action="$web.getLogOut()">
                                    <button type="submit" class="btn btn-default navbar-btn">Log out</button>
                                </form>
                            </li>
                        #else
                            <li>
                                <form method="get" action="$web.getLogIn()">
                                    <button type="submit" class="btn btn-default navbar-btn">Log in</button>
                                </form>
                            </li>
                        #end

                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            $bodyContent
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
#end
